<!DOCTYPE HTML>
<html>
  <head>
    <title>YT Downloader</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue-resource.js') }}"></script>
  </head>
  <body>
    <div id="app">
      <input v-model="url"/><br>
      <a :href="link">Download</a>
    </div>
  </body>
  <script>
  var app = new Vue({
    el: '#app',
    data: {
      url: '',
      loading: false
  },
      computed: {
          link: function(){
              return './download?url='+this.url
          }
      }
  })
  </script>
</html>
